@import url("https://db.onlinewebfonts.com/c/508fb4f19c40b7c6a170913ad9a5de34?family=Cera+GR+Medium");

#arii {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: white;
  background: #e7c7af;
  padding: 3px;
  border-radius: 25px;
  font-family: "Cera GR Medium", sans-serif;
}

.arii-button {
  background-color: #8196af;
  border-radius: 25px;
  padding: 8px 15px;
}

#arii:hover {
  transform: translate(-15px, -15px);
  transition: 300ms ease-in-out;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.wrapper > p {
  margin: 0px;
  font-weight: bold;
}
